<% @users.each do |user| %>
  <div class="posts-index-item">
    <%= user.id %>
    <%= user.name %>
    <%= user.email %>
    <%= user.country %>
    <%= user.password_digest %>
    <%= user.age %>
    <%= user.height %>
    <%= user.weight %>
    <%= user.sport %>
  </div>
<% end %>
